<html>
    <div class="header">
        <link rel="stylesheet" href='../static/style.css'/>
        <h1>iRL Energy Loss in Pipes and Fittings</h1>
    </div>
<body>
        <div class="topnav" align="center">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('people') }}">Team</a>
            <a href="{{ url_for('frictionlab') }}">Friction Lab</a>
        </div>
<div class="fullcolumn">
<div align="center"><p><font size="5">This is a new website for remote laboratories related to fluid mechanics!</font></p></div>
<div align="center"><font size="5">Remote laboratories are <b>REAL</b>, not virtual labs that are controlled remotely and viewed with a camera and web format.</font></div>
<div align="center"><font size="5">Our first lab under development is a lab for <b>friction losses in pipe systems</b>. Check back soon to try it out!!!!</font></div>
</div>
<div class="fullcolumn" align="center">
    <div class="image-wrapper">
        <img src="../static/UGAlogo.png" alt="image" width="300" height="100">
    </div>
</div>
</html>
