<html>
    <div class="header">
        <link rel="stylesheet" href='../static/style.css'/>
        <h1>iRL Fluids Team</h1>
    </div>
<body>
        <div class="topnav" align="center">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('people') }}">Team</a>
            <a href="{{ url_for('frictionlab') }}">Friction Lab</a>
        </div>
<div class="fullcolumn" align="center">
    <div class="content" align="center">
        <img src="../static/CBW_dive.jpg" width="100" height="100" hspace="600">
        <div class="text" align="left">
            <br>
            <h3><strong>C. Brock Woodson</strong></h3>
            <p>Associate Professor, College of Engineering, University of Georgia</p>
        </div>
    </div>
    <div class="content" align="center">
        <img src="../static/CBW_dive.jpg" width="100" height="100" hspace="600">
        <div class="text" align="left">
            <br>
            <h3><strong>Eliza A. Banu</strong></h3>
            <p>Lecturer, College of Engineering, University of Georgia</p>
        </div>
    </div>
    <div class="content" align="center">
        <img src="../static/CBW_dive.jpg" width="100" height="100" hspace="600">
        <div class="text" align="left">
            <br>
            <h3><strong>Sheridan Finder</strong></h3>
            <p>Undergraduate Student, College of Engineering, University of Georgia</p>
        </div>
    </div>
</div>
<div align="center"><font size="5"><b>Eliza A. Banu</b> - Lecturer, College of Engineering, University of Georgia </font></div>
<div align="center"><font size="5"><b>Sheridan Finder</b> - Undergraduate Student, College of Engineering, University of Georgia</font></div>
</div>
<div class="fullcolumn" align="center">
    <div class="image-wrapper">
        <img src="../static/UGAlogo.png" alt="image" width="300" height="100">
            </div>
</div>
</div>
</html>
